.button-queue {
	margin-left: 6px !important;
	background: #2fccb7 !important;
	border-color: #00a37d;
}

.button-queue:hover {
	background: #229d8d !important;
}

.button-queue:active {
	background: #229d8d !important;
}